<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置JMS连接工厂 -->
	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://localhost:8161" />
		<property name="auditMaximumProducerNumber" value="10"></property>
	</bean>

	<!-- 发送消息的目的地（主题） -->
	<bean id="topicDest" class="org.apache.activemq.command.ActiveMQTopic">
		<!-- 设置消息队列的名字 -->
		<constructor-arg index="0" value="myTopic" />
	</bean>
	<!-- 配置TopicJms模板 -->
	<bean id="jmsTopicTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestination" ref="topicDest" />
		<!-- 配置是否为发布订阅者模式，默认为false -->
		<property name="pubSubDomain" value="true" />
		<property name="deliveryMode" value="1" />
		<property name="pubSubNoLocal" value="false" />
		<!--<property name="receiveTimeout" value="10000" /> -->
	</bean>
	
	
</beans>
